input{
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}
input[type="file"]{
  background-color: blue;
  width: 16.3%;
  margin-top: 40px;
  padding-top: 18px;
  opacity: 0;
}
button{
  background-color: #d8004f;
  color: white;
}
button[id="fileBtn"]{
  margin-top: 2.5em;
  position: absolute;
  border-radius: 8px;
}
button[id="fileBtn"] p{
  line-height: 0px;
  margin-top: 18px;
  width: 125px
}
div[class="bar"]{
margin-top: 25px
}
