 div[class="gallery"] {
  margin: 10px;
  float: left;
  width: 250px;

}
div[class="gallery"] img {
  width: 95%;
  height: 260px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  cursor: pointer;
}
input{
  opacity: 00;
}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 991px) {



}
