div[class="detailsPost"]{
  margin-top: 10px;
  float: right;
}
div[class="commentSection"]{
  margin-top: 20px;
  padding-bottom: 40px;
}
div[class="userComment"] h4{
  font-size: 1.4em
}
div[id="inputNbutton"]{
  margin-left: 0px
}
input[id="commentField"]{
  width: 28.5%;
}
img{
  margin-top: 10px;
}
p{
  font-family: 'Lato', sans-serif;
}
button{
  background-color: #d8004f;
  color: white;
}
img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}
