div[id="topConent"]{
  margin-top: 45px;
}
div[class="detailsPost"]{
  padding:0;
  margin-left: 100px;
  margin-top: 35px;
  right: 0;
  width: 30%;
  border: solid 0.4px black;
  border-radius: 10px;
  height: 425px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div[class="detailsContent"] p {
  text-align: center;

}
div[class="detailsContent"] h3 {
  text-align: center;
  margin-top: 20px;
  line-height: 10px
}
img{
  width: 500px;
  height: 500px;
  margin-left: 20px;
  left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div[class="detailsContent"] h3{
  text-align: center;
}
div[class="detailsContent"] button{
  width: 100%
}

div[class="userComment"] h4{
  font-size: 1.4em
}
div[id="inputNbutton"]{
  margin-left: 0px
}
div[class="commentDiv"]{
  width: 100%;
  margin-top: 50px;
}
div[class="commentDiv"] input{
  width: 34.5%;
  float:left;
}
p{
  font-family: 'Lato', sans-serif;
}
button{
  background-color: #d8004f;
  color: white;
}
@media only screen and (max-width: 360px) {
  #topConent{
    margin-top: 0px;
  }
  img{
    width: 250px;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  div[class="detailsPost"]{
    padding:0;
    margin-right: 200x;
    margin-top: 35px;
    left: 0;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    border: solid 0.4px black;
    border-radius: 10px;
    height: 425px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  div[class="commentDiv"]{
    padding-bottom: 50px;
  }
  div[class="commentDiv"] button{
    width:45%;

  }
}
