<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<img src="{{galleryPosts?.url}}" width="450" height="450">
<div class="detailsPost">
  <h3>{{galleryPosts?.title}}</h3>
  <p>{{galleryPosts?.description}}</p>
  <button (click)="editPost(galleryPosts)" name="button" class="btn btn-default">Edit</button> <br><br>

  <div *ngIf="editGallery">
    <input [(ngModel)]="editGallery.title" class="form-control"><br>
    <input [(ngModel)]="editGallery.description" class="form-control"><br>
    <button (click)="updateGallery(editGallery)" class="btn btn-default">Update</button>
    <button (click)="DoneEdit()" class="btn btn-default">Done</button>
  </div>
</div>


<div class="commentSection">
  <div class="row" id="inputNbutton">
    <input #newCommentText id="commentField" class="form-control">
    <button (click)="addText(newCommentText.value); newCommentText.value='';" class="btn btn-default">Add Comment</button>
  </div>
  <hr>
  <div *ngFor="let user of comments">
      <p>User: Unknown</p>
      <p>{{user?.comentText}}</p>
      <button (click)="deleteComment(user)" class="btn btn-default">delete</button>
    <hr>
  </div>
</div>
